/* If prompt and input are in two cells of one row, the prompt will be R-aligned. */
.formTable {
  display: table;
}
.formTable td:first-child {
  text-align: right;
}
ul.aligned {  /* So if in centered div, the bullets line up under each other */
  display: inline-block;
  text-align: left; 
}
.error {
  color: red;
  font-weight: bold;
}
.ui-growl {
  right: 50px !important; 
  top: 100px !important;
}